.container__home {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 47px;
   width: 100%;
   height: 100%;
   text-align: left;
   margin-top: 70px;
   margin-bottom: 93px;
}

.container__recipes {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(3, 1fr);
   gap: 55px 64px;
}

.recipe {
   display: flex;
   flex-direction: column;
   border: 1px solid gray;
   position: relative;
}

.recipe_type {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 17px;
   left: 25px;
   font-family: Roboto Slab;
   font-weight: bold;
   text-align: center;
   font-size: 0.875rem;
   color: white;
   background-color: #96BB36;
   width: 85px;
   height: 26px;
   border-radius: 15px;
}

.recipe_type p {
   padding: auto;
}

.recipe__icon {
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: 19px;
   right: 27px;
   background-color: #96BB36;
   width: 28px;
   height: 28px;
   border-radius: 5px;
   padding: 0.5rem;
   cursor: pointer
}

.recipe__image {
   background: linear-gradient(#F0972A, #96BB36);
   width: 100%;
   height: 234px;
}

.recipe_descriptionBox {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 15px;
   padding: 16px 30px 26px 25px;
   background-color: #FFFFFF;
}

.recipe_descriptionBox span {
   text-transform: capitalize;
}

.recipe__description {
   font: normal normal normal 0.88rem/1.19rem Roboto;
   letter-spacing: 0;
   opacity: 1;
   color: #A5A5A5;
   text-align: left;
   height: 79px;
}

.recipe__descriptionIcons {
   display: flex;
   flex-direction: row;
   gap: 13px;
}

.recipe__container {
   display: flex;
   flex-direction: row;
   gap: 5px;
   align-items: center;
   justify-content: flex-start;
}

.recipe__container img {
   height: 16px;
}

.recipe__container h3 {
   font: normal normal bold 0.75rem/1rem Roboto Slab;
   text-align: left;
   color: #626262;
}

.modal {
   display: flex;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100%;
   background: rgba(248, 247, 242. 1);
   backdrop-filter: blur(24px);
}