.container__box {
   display: flex;
   flex-direction: row;
   gap: 10px;
   width: 100;
   letter-spacing: 0px;
   opacity: 1;
}

.description-box__create {
   display: flex;
   flex-direction: column;
   gap: 29px;
   width: 39%;
   padding-right: 6.375rem;
}

.description-box__create h1 {
   text-align: left;
   font: normal bold 2.875rem/3.75rem Roboto Slab;
   color: #626262;
}

.description-box__create p {
   word-break: break-all;
   width: 100%;
   font: normal normal normal 1.25rem/1.63rem Roboto Slab;
   color: #A5A5A5;
}

.input__container {
   width: 61%;
}

.register__inputs {
   display: grid;
   grid-template-columns: auto auto;
   gap: 23px 33px;
   width: 100%;
}

.register__inputs input {
   width: 76%;
}

.button-create {
   background: none;
   border: 1px solid #A5A5A5;
   font: bold 1rem/1rem Roboto;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   color: inherit;
   padding: 9.91px 10px 9.09px 10px;
   /* width: 201.8px; */
   width: 52%;
   height: 40px;
   border-radius: 5px;
   margin-top: 19px;
   cursor: pointer;
}

.button-create:hover,
.button-create:active,
.button-create:focus {
   border: 1px solid #96BB36;
   background: #96BB36;
   color: #FFFFFF;
   box-shadow: 0px 3px 6px #00000029;
}